import React, { FC, ReactNode } from 'react';
import PropTypes from 'prop-types';

import { Container } from './{{ camelCase name }}.styles';

interface {{ pascalCase name }}ComponentProps {
  children?: ReactNode;
}

export const {{ pascalCase name }}Component: FC<{{ pascalCase name }}ComponentProps = ({ children }) => {
  return <Container>
    <h1>{{ pascalCase name }} component</h1>
    {children}
  </Container>;
};

{{ pascalCase name }}Component.propTypes = {
  children: PropTypes.node,
};
