import React, { ReactNode } from 'react';

import { Container } from './{{ camelCase name }}.styles';

export interface {{ pascalCase name }}ComponentProps {
  children?: ReactNode;
}

export const {{ pascalCase name }}Component = ({ children }: {{ pascalCase name }}ComponentProps) => {
  return (
    <Container>
      <h1>{{ pascalCase name }} component</h1>
      {children}
    </Container>
  );
};
